/************************** main ************************/


/******** section searchBar *********/


/* h1 p */

h1 {
    margin-top: 1.1vw;
}

#h1 p {
    margin-top: 0.5vw;
    font-size: 0.9rem;
}


/************ formulaire ************/


/* ville */

#formular {
    margin-top: 2.2vh;
    font-size: 1.2rem;
    display: flex;
}

#card {
    background-color: #f2f2f2;
    width: 50px;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card:hover {
    cursor: pointer;
    background-color: #0065fc;
    color: white;
    transition: 0.4s;
}

#formular input[type="text"] {
    font-size: 1.1rem;
    width: 200px;
    padding: 10px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    font-weight: bold;
}

#formular input[type="submit"] {
    padding: 13px;
    font-size: 20px;
    background-color: #0065fc;
    cursor: pointer;
    color: white;
    border-radius: 0 15px 15px 0;
    border: 1px solid #f2f2f2;
    width: 160px;
}

#formular input[type="submit"]:hover {
    background-color: #deebff;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

input {
    font-family: inherit;
}

#loupe {
    display: none;
}


/************* filtres **************/

#filters {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
}

#title {
    margin-right: 10px;
    margin-top: 15px;
}

#filters-block {
    display: flex;
    flex-wrap: wrap;
}

.filters-box {
    margin-top: 15px;
    display: flex;
    align-items: center;
    border: 1px solid #deebff;
    border-radius: 30px;
    margin-left: 25px;
}

.filters-box:hover {
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

.filters-text {
    padding-left: 10px;
    padding-right: 10px;
}

#filters i {
    display: flex;
    justify-content: center;
    height: 15px;
    width: 15px;
    background-color: #deebff;
    padding: 0.8rem;
    border-radius: 30px;
    color: #0065fc;
}


/*********** ligne d'info **********/

.info {
    margin: 20px 0 20px 0;
}

.info p {
    display: flex;
    font-size: 80%;
    align-items: center;
}

.info i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    padding: 4px;
    color: #0065fc;
    font-size: 0.8rem;
    border: 1px solid #deebff;
    border-radius: 25px;
}


/**************** hôtels **************/

#hotels {
    display: flex;
    margin-bottom: 2.8vw;
}

#hotel h2 {
    margin-bottom: 1.7vh;
}


/*************** marseille ************/

#marseille {
    display: flex;
    flex: 60%;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 1.8vw 1vw 1.1vw 1.7vw;
    margin-right: 2.2vw;
}

.card-marseille {
    flex: 1 30%;
    background-color: white;
    box-shadow: 5px 5px 5px #d1d1d1;
    border-radius: 20px;
    margin: 10px 15px 10px 0px;
    padding: 5px;
}

#photosMarseille {
    display: flex;
    flex-wrap: wrap;
}

.card-marseille img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card-marseille figcaption {
    margin-left: 15px;
}

.text {
    margin-bottom: 1vh;
}

.text p {
    margin-top: 0.9vh;
}

.stars {
    display: flex;
}

#plus {
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 5vh;
}

#plus a:hover {
    color: #0065fc;
}


/**************** populaire **************/

#popular {
    flex: 30%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 1.8vw 1vw 1.1vw 1.7vw;
}

#popular-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popular figure {
    display: flex;
    height: 160px;
    background-color: white;
    box-shadow: 5px 5px 5px #d1d1d1;
    border-radius: 20px;
    padding: 5px;
    margin: 1vw 1.3vw 0.5vw 0vw;
}

.popular-card img {
    width: 40%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.popular-card figcaption {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2vw;
}

#popular p {
    margin-bottom: 35px;
}

.fa-chart-line {
    font-size: 1.1rem;
    margin-right: 1.3vw;
}


/******************** activités ****************/

#activities {
    margin-bottom: 4vw;
}

#activities h3 {
    margin: 1.4vw 0 1.4vw 0;
}

#activities-pics {
    display: flex;
    height: 29vw;
    margin-top: 20px;
}

#article1 {
    display: flex;
    width: 50%;
}

#article2 {
    display: flex;
    width: 50%;
    margin-left: 1.6vw;
}

.big-pics {
    display: flex;
    flex: 25%;
    margin-right: 1.6vw;
}

.activities-card {
    display: flex;
}

.small-pics {
    display: flex;
    flex: 25%;
    flex-direction: column;
    justify-content: space-between;
}

#aPomegues {
    height: 50%;
}

#activities figure {
    width: 100%;
}

#aFrioul {
    height: 50%;
    align-items: flex-end;
}

.big-pics img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

#pomegues img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}

#frioul {
    height: 80%;
}

#frioul img {
    height: 62%;
    width: 100%;
    object-fit: cover;
}

.block2 img {
    width: 100%;
    height: 66.5%;
    object-fit: cover;
}

#garde,
#lonchamp {
    height: 45%;
}

#garde img {
    object-position: top;
}

#activities figcaption {
    margin-left: 0.7vw;
}

#activities img {
    border-radius: 20px 20px 0px 0px;
}

#activities-pics figure {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px #d1d1d1;
}