@charset "UTF-8";

/* CSS Document */


/*-------------------------------- Footer ------------------------------------*/

footer {
    background-color: #f2f2f2;
    border: 1px solid red;
}

#footer_container {
    display: flex;
    max-width: 1200px;
    padding-left: 50px;
    border: 1px solid green;
    justify-content: space-between;
}

#propos {
    flex: 1 30%;
}

#hebergement {
    flex: 1 30%;
}

#assistance {
    flex: 1 30%;
}

footer ul {
    padding: 5px 0;
}

footer li {
    padding: 5px 0 5px 0;
}

footer a:hover {
    color: #0065fc;
}