@charset "UTF-8";

/* CSS Document */


/*-------------------------------- Media Queries ------------------------------------*/


/*----- Écran max 1199px -----*/

@media (max-width: 1199px) {
    body {
        width: 97%;
        margin: auto;
    }
    #section_hebergement {
        width: 55%;
    }
    aside {
        width: 35%;
        height: 520px;
    }
    .activites {
        flex-wrap: wrap;
        justify-content: space-around;
        height: 450px;
        /* augmentation de la hauteur pour éviter que les éléments soient collés verticalement */
        align-content: space-between;
        /* puis les espacés un peu plus */
    }
    .pomegues_frioul,
    .garde_longchamp {
        flex-direction: row;
        width: 65%;
        /* augmentation de la largeur pour éviter que les éléments soient collés horizontalement */
        justify-content: space-between;
    }
    .activites img {
        width: 30vw;
        /* images Activités occuperont toujours 30% en largeur de la section */
        height: 150px;
    }
    footer {
        margin: 20px 0 0 0;
        /* améliorer le footer (moins de débordement côté et plus espacé en haut) */
    }
    .nos_hebergements,
    .assistance {
        margin-left: auto;
        /* "recenter" les 2 éléments */
        margin-right: auto;
    }
}


/*----- Écran max 991px -----*/

@media (max-width: 991px) {
    .filtres {
        flex-direction: column;
        /* aligner verticalement les filtres */
        align-items: flex-start;
    }
    .les_filtres {
        flex-wrap: wrap;
    }
    .icones {
        margin-bottom: 10px;
        /* espacer verticalement les filtres */
    }
    main {
        flex-direction: column;
        /* section Hébergement et Aside alignés verticalement */
    }
    #section_hebergement,
    aside {
        width: 90%;
        /* section hébergement et Aside largeur de 90% de l'écran + marge auto pour les centrer + augmenterespace bas */
        margin: auto;
        margin-bottom: 15px;
    }
    .descriptif_hebergement img {
        width: 40vw;
        /* images section hébergement occuperont toujours 40% en largeur de la section */
    }
    .photo_populaire h4 br {
        display: none;
        /* supprimer le renvoi à la ligne */
    }
}


/*----- Écran max 767px -----*/

@media (max-width: 767px) {
    aside {
        order: 1;
        /* aside vient avant section Hébergement */
    }
    #section_hebergement {
        order: 2;
        /* Section Hébergement vient après aside */
    }
    .activites {
        flex-wrap: nowrap;
        /* annuler renvoi à la ligne */
        flex-direction: column;
        /* les aligner verticalement */
        height: auto;
        /* hauteur auto pour qu'ils soient bien répartis verticalement (annuler le 450px précédent) */
        width: 97%;
        margin: auto;
    }
    .pomegues_frioul,
    .garde_longchamp {
        flex-direction: column;
        /* les aligner verticalement */
        width: auto;
        /* remettre la largeur de même taille que Activités (annuler celle à 65% des écrans plus grands */
    }
    .activites img {
        width: 100%;
        /* images occupent 100% de la largeur d'activités */
        height: 150px;
    }
    .grande_photo,
    .grand_cadre,
    .petit_cadre,
    .moyen_cadre {
        margin-bottom: 15px;
    }
    footer {
        flex-direction: column;
    }
    .nos_hebergements,
    .assistance {
        margin-left: 50px;
        /* même marge que Propos pour qu'ils soient tous alignés */
    }
}


/*----- Écran max 575px -----*/

@media (max-width: 575px) {
    .nav_menu {
        flex-direction: column-reverse;
        /* inversion inscription avec hébergement et activités */
        align-items: flex-end;
        /* placés à droite */
        width: 100%;
    }
    .header {
        align-items: stretch;
        /* remonter le logo en haut à gauche */
    }
    .logo {
        position: absolute;
        /* pour pouvoir ensuite contrôler la largeur des 2 div children */
    }
    .header nav {
        width: 100%;
        /* étendre la largeur de Hébergement et activité sur tout l'écran */
    }
    .header nav ul {
        padding-left: 0;
        /* enlever le padding à gauche */
    }
    .nav_menu li {
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 17px;
        /* bordure grise et alignement Hébergement et Activités */
        width: 50%;
        text-align: center;
    }
    .nav_menu li:hover {
        border-bottom-color: #0065fc;
        /* bordure bleue basse lorsqu'on clique */
    }
    .nav:hover {
        border-top: none;
        /* enlever bordure bleue haute lorsqu'on clique */
    }
    .hebergement img {
        width: 90vw;
        /* image occupera toujours 90% de section hébergement */
        height: 140px;
    }
    #section_hebergement {
        border: 1px solid white;
        background-color: white;
        /* bordure et fond blanc */
    }
    .descriptif_hebergement {
        border: 1px solid #f2f2f2;
        box-shadow: 0 0 15px #f2f2f2;
        /* shadow grise tout autour */
    }
    .populaire .titre_image {
        margin-top: 5px;
    }
    #rechercher {
        display: none;
    }
    #loupe {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        background-color: #0065fc;
        cursor: pointer;
        color: white;
        border-radius: 15px;
        border: 1px solid #f2f2f2;
        width: 40px;
    }
}


/*----- Écran max 375px -----*/

@media (max-width: 375px) {
    #form {
        width: 90%;
        justify-content: space-between;
    }
    input {
        width: 90%;
    }
    .rechercher {
        margin-right: 10px;
        margin-left: 10px;
    }
}