@charset "UTF-8";

/* CSS Document */


/*-------------------------------- Media Queries ------------------------------------*/


/*----- LAPTOP jusque 1200px -----*/

@media (max-width: 1200px) {
    #section_hebergement {
        width: 55%;
    }
    aside {
        width: 35%;
        height: 520px;
    }
    .activites {
        flex-wrap: wrap;
        justify-content: space-around;
        height: 450px;
        align-content: space-between;
    }
    .pomegues_frioul,
    .garde_longchamp {
        flex-direction: row;
        width: 65%;
        justify-content: space-between;
    }
    .activites img {
        width: 30vw;
        height: 150px;
    }
    footer {
        margin: 20px 0 0 0;
    }
}


/*----- Écran jusque 990px -----*/

@media (max-width: 990px) {
    .filtres {
        flex-direction: column;
        /* alignement vertical filtres */
        align-items: flex-start;
    }
    .les_filtres {
        flex-wrap: wrap;
    }
    .icones {
        margin-bottom: 10px;
    }
    main {
        flex-direction: column;
    }
    #section_hebergement,
    aside {
        /* Hébergement + Aside = 90% de l'écran */
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
    }
    .descriptif_hebergement img {
        width: 40vw;
        /* images hébergement = 40% de la section */
    }
    .photo_populaire h4 br {
        display: none;
    }
    footer {
        flex-direction: column;
    }
}


/*----- Tablette Pro max 767px (écran partagé) -----*/

@media (max-width: 767px) {
    aside {
        order: 1;
        /* Inversion order Aside / Hebergements */
    }
    #section_hebergement {
        order: 2;
    }
    .activites {
        flex-wrap: nowrap;
        flex-direction: column;
        height: auto;
        width: 97%;
        margin: auto;
    }
    .pomegues_frioul,
    .garde_longchamp {
        flex-direction: column;
        width: auto;
    }
    .activites img {
        width: 100%;
        /* images occupent 100% de la largeur d'activités */
        height: 150px;
    }
    .grande_photo,
    .grand_cadre,
    .petit_cadre,
    .moyen_cadre {
        margin-bottom: 15px;
    }
}


/*----- Smartphone Pro max 575px -----*/

@media (max-width: 575px) {
    .nav_menu {
        flex-direction: column-reverse;
        /* placement menu responsive */
        align-items: flex-end;
        width: 100%;
    }
    .header {
        align-items: stretch;
    }
    .logo {
        position: absolute;
    }
    .header nav {
        width: 100%;
    }
    .header nav ul {
        padding-left: 0;
    }
    .nav_menu li {
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 17px;
        width: 50%;
        text-align: center;
    }
    .nav_menu li:hover {
        border-bottom-color: #0065fc;
    }
    .nav:hover {
        border-top: none;
    }
    .hebergement img {
        width: 90vw;
        /* image = 90% de hébergement */
        height: 140px;
    }
    #section_hebergement {
        background-color: white;
    }
    .descriptif_hebergement {
        border: 1px solid #f2f2f2;
        box-shadow: 0 0 15px #f2f2f2;
    }
    .populaire .titre_image {
        margin-top: 5px;
    }
    #rechercher {
        display: none;
    }
    #loupe {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        background-color: #0065fc;
        cursor: pointer;
        color: white;
        border-radius: 15px;
        border: 1px solid #f2f2f2;
        width: 40px;
    }
}


/*----- Smartphone max 375px -----*/

@media (max-width: 375px) {
    #form {
        width: 90%;
        justify-content: space-between;
    }
    input {
        width: 90%;
    }
    .rechercher {
        margin-right: 10px;
        margin-left: 10px;
    }
}