@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/*------------------------------------- General  -------------------------------------*/

:root {
    --blue: #0065fc;
    --lightblue: #deebff;
    --lighterblue: #f3f8ff;
    --grey: #d9d9d9;
    --lightgrey: #f2f2f2;
}

body {
    font-family: "Raleway", sans-serif;
    max-width: 1280px;
    margin: auto;
}

* {
    box-sizing: border-box;
    font-family: "raleway" "sans-serif";
}


/*----------------- Links -----------------*/

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 20px;
}

.decorationNone {
    text-decoration: none;
}

.linkSelected {
    font-weight: bold;
    text-decoration: none;
}

.spaceLinks {
    width: 45%;
}

.barreLink {
    width: 140px;
    height: 99px;
}

.colorLink2 {
    color: black;
}

.sizeNav {
    height: 100px;
}


/*----------------- Colors -----------------*/

.pricehigh {
    font-weight: normal;
}

.pricelow {
    font-weight: bold;
}

.stars {
    font-size: 0.7em;
}

.blue {
    color: #0065fc;
}

.empty {
    color: #d9d9d9;
}


/*--------------------------------------- Header ----------------------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-right: auto;
}


/*----------------- Nav & Navbarbar -----------------*/

.nav {
    margin-right: 20px;
    border: 2px solid transparent;
    padding: 14px;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}

.header nav ul {
    display: flex;
}

.inscription {
    font-weight: bold;
    color: #0065fc;
    padding: 14px;
}

.header a:hover {
    color: #0065fc;
    border-top-color: #0065fc;
}


/* --------------- MODULE DE RECHERCHE --------------- */


/* Barre de recherche */

.searchbar {
    display: flex;
    width: 400px;
    border-radius: 15px;
    margin-bottom: 2rem;
}


/* icone */

header .fa-map-marker-alt {
    padding: 12px 26px 0px 20px;
    font-size: 16px;
    background: #f2f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 5px;
}


/* INPUT Text */

.searchbar input {
    padding-left: 30px;
    height: 40px;
    border: none;
    border-top: 1px solid #f0eeeef2;
    border-bottom: 1px solid #f0eeeef2;
    width: 320px;
}

.searchbar input:focus {
    outline-style: none;
}

.searchbar input::placeholder {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}


/* BOUTON Recherche */

.searchbar button {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    padding: 10px 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    width: 180px;
    color: white;
    background: #0065fc;
    border-radius: 0 15px 15px 0;
    transition: 0.9s;
}

.searchbar button:hover {
    background-color: #deebff;
    color: #0065fc;
    transition: 0.2s;
}


/* --------------- FILTRES --------------- */

#filter-title {
    font-weight: bold;
}

.filter-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    font-size: 1.1em;
}

.filter-box .fas {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    margin: -2px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-box {
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;
}

.filter-text {
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.filter-box:hover {
    background-color: #deebff;
    color: #0065fc;
    border-color: #deebff;
    cursor: pointer;
    transition: 0.2s;
}


/* --------------- LIGNE INFO --------------- */

.info {
    margin: 30px 0 30px 0;
}

.info p {
    display: flex;
    font-size: 80%;
    align-items: center;
}

.info i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    padding: 4px;
    color: #0065fc;
    font-size: 0.8rem;
    border: 1px solid #deebff;
    border-radius: 25px;
}


/* ********************************* CONTENT ********************************* */


/*  APARTMENTS LIST  */

.apartments-list {
    display: flex;
    gap: 1rem;
}

.apartments-list>div {
    border: 1px solid red;
    background-color: var(--lightgrey);
    padding: 1rem;
    border-radius: 1rem;
}

.apartments-list .city {
    flex-basis: 66%;
}

.apartments-list .popular {
    flex-basis: 33%;
}

@media (max-width: 800px) {
    .apartments-list {
        flex-direction: column;
    }
    .popular {
        order: -1;
    }
}


/*   CITY APARTMENTS LIST  */

.city-apartments-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.city-apartments-list div {
    border: 1px solid var(--blue);
    flex-basis: calc(33%-1rem);
}


/*   POPULAR  */

.apartments-list .popular-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.apartments-list .popular-flex div {
    border: 1px solid green;
}

@media (max-width:800px) {
    .apartments-list .popular-flex {
        flex-direction: row;
    }
}


/*   APARTMENTS CARD  */

.apartments-card .stars {
    color: var(--blue)Ò;
}


/*---------------------------------- Section Hébergement -----------------------------------*/

.hebergement {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.titre_heberge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titre_hebergement {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 10px;
}

.hebergement img {
    width: 236px;
    height: 114px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.hebergement .titre_image,
.hebergement .nuit,
.hebergement .stars {
    line-height: 1px;
    margin-left: 10px;
}

.photo_hebergement {
    padding: 2px 10px 2px 2px;
    margin-bottom: 20px;
}

.hebergement .titre_image {
    margin-top: 10px;
}

.descriptif_hebergement {
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    padding: 3px 3px 10px 3px;
    margin-top: 20px;
    box-shadow: 0 0 10px #e3e3e3;
}

.photo_hebergement:hover {
    transition: transform 200ms;
    transform: scale(1.03);
}

#titre_affiche {
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
}

.lien_affiche:hover {
    color: #0065fc;
    transition: 0.2s;
}


/*---------------------------------- Aside Les plus populaires -----------------------------------*/

aside {
    display: flex;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 15px;
    max-width: 40%;
    padding: 10px 20px 00px 20px;
}

.titre_populaire {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 10px;
}

.titre_pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaire img {
    width: 127px;
    height: 134px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.photo_populaire {
    display: flex;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    padding: 2px 10px 2px 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #b4b3b3;
}

.photo_populaire:hover {
    transition: transform 200ms;
    transform: scale(1.03);
}

.populaire .titre_image,
.populaire .nuit,
.populaire .stars {
    margin-left: 20px;
}

.populaire .nuit {
    margin-top: -20px;
    margin-bottom: 30px;
}


/*--------------------------- Activités -------------------------------*/

.activites {
    display: flex;
    justify-content: space-between;
}

.titre_active {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titre_activites {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.pomegues_frioul,
.garde_longchamp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.grande_photo img {
    width: 270px;
    height: 400px;
}

.grand_cadre img {
    width: 270px;
    height: 160px;
}

.moyen_cadre img {
    width: 270px;
    height: 140px;
}

.petit_cadre img {
    width: 270px;
    height: 120px;
}

.grande_photo,
.grand_cadre,
.moyen_cadre,
.petit_cadre {
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #f2f2f2;
}

.activites h4 {
    margin-left: 15px;
}

.activites a div:hover {
    transition: transform 200ms;
    transform: scale(1.03);
}


/*-------------------------------- Footer ------------------------------------*/

footer {
    padding: 50px 0 0 10px;
    margin: 50px -50px 0 -50px;
    background-color: #f2f2f2;
    display: flex;
}

.titre_footer {
    font-size: 1em;
    font-weight: bold;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

.propos {
    margin-left: 35px;
    margin-bottom: 20px;
    line-height: 2em;
}

.nos_hebergements,
.assistance {
    margin-left: 220px;
    line-height: 2em;
}

footer a:hover {
    color: #0065fc;
}