* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "raleway", sans-serif;
    font-size: 1rem;
}

#body {
    width: 1200px;
    margin: auto;
}

#marseille a:hover,
#popular figure:hover,
#activities a:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 1.3rem;
}

.full {
    color: #0065fc;
}

.full_grey {
    color: #deebff;
}


/************************ HEADER *********************/

#logo {
    margin-right: auto;
    padding: 0 2rem;
    border-top: 3px solid transparent;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    padding: 2rem;
    border-top: 3px solid transparent;
}

nav a:hover {
    border-top-color: #0065fc;
}

.subnav {
    display: flex;
}

.subnav a:hover {
    color: #0065fc;
}

#sign-in {
    font-weight: bold;
    color: #0065fc;
}


/************************** CONTENT ************************/


/******** section searchBar *********/


/* h1 p */

h1 {
    margin-top: 1.1vw;
}

#h1 p {
    margin-top: 0.5vw;
    font-size: 0.9rem;
}


/************ formular ************/


/* ville */

#formular {
    margin-top: 2.2vh;
    font-size: 1.2rem;
    display: flex;
}

#card {
    background-color: #f2f2f2;
    width: 50px;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card:hover {
    cursor: pointer;
    color: #0065fc;
    transition: 0.4s;
}

#formular input[type="text"] {
    font-size: 1.1rem;
    width: 200px;
    padding: 10px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    font-weight: bold;
}

#formular input[type="submit"] {
    padding: 13px;
    font-size: 20px;
    background-color: #0065fc;
    cursor: pointer;
    color: white;
    border-radius: 0 15px 15px 0;
    border: 1px solid #f2f2f2;
    width: 160px;
}

#formular input[type="submit"]:hover {
    background-color: #deebff;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

input {
    font-family: inherit;
}

#loupe {
    display: none;
}


/************* filters **************/

#filters {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
}

#title {
    margin-right: 10px;
    margin-top: 15px;
}

#filters-block {
    display: flex;
    flex-wrap: wrap;
}

.filters-box {
    margin-top: 15px;
    display: flex;
    align-items: center;
    border: 1px solid #deebff;
    border-radius: 30px;
    margin-left: 25px;
}

.filters-box:hover {
    background-color: #deebff;
    color: #0065fc;
    cursor: pointer;
    transition: 0.2s;
}

.filters-text {
    padding-left: 10px;
    padding-right: 10px;
}

#filters i {
    display: flex;
    justify-content: center;
    height: 15px;
    width: 15px;
    background-color: #deebff;
    padding: 0.8rem;
    border-radius: 30px;
    color: #0065fc;
}


/*********** ligne info **********/

.info {
    margin: 20px 0 20px 0;
}

.info p {
    display: flex;
    font-size: 80%;
    align-items: center;
}

.info i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    padding: 4px;
    color: #0065fc;
    font-size: 0.8rem;
    border: 1px solid #deebff;
    border-radius: 25px;
}


/**************** hebergements Marseille **************/

#hotels {
    display: flex;
    margin-bottom: 2.8vw;
}

#hotel h2 {
    margin-bottom: 1.7vh;
}

#marseille {
    display: flex;
    flex: 60%;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 1.8vw 1vw 1.1vw 1.7vw;
    margin-right: 2.2vw;
}

#marseille-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.marseille-card {
    flex: 1 30%;
    background-color: white;
    box-shadow: 5px 5px 5px #d1d1d1;
    border-radius: 20px;
    margin: 10px 15px 10px 0px;
    padding: 5px;
}

#marseille-pics {
    display: flex;
    flex-wrap: wrap;
}

.marseille-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.marseille-card figcaption {
    margin-left: 15px;
}

.text {
    margin-bottom: 1vh;
}

.text p {
    margin-top: 0.9vh;
}

.stars {
    display: flex;
}

#plus {
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 5vh;
}

#plus a:hover {
    color: #0065fc;
}


/**************** popular **************/

#popular {
    flex: 30%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 1.8vw 1vw 1.1vw 1.7vw;
}

#popular-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
}

#popular figure {
    display: flex;
    height: 160px;
    background-color: white;
    box-shadow: 5px 5px 5px #d1d1d1;
    border-radius: 20px;
    padding: 5px;
    margin: 1vw 1vw 1vw 0vw;
}

.popular-card img {
    width: 40%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.popular-card figcaption {
    display: flex;
    flex-basis: 340px;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2vw;
}

#popular p {
    margin-bottom: 35px;
}

.fa-chart-line {
    font-size: 1.1rem;
    margin-right: 1.3vw;
}


/******************** activités ****************/

#activities-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

#activities {
    margin-bottom: 4vw;
}

#activities h3 {
    margin: 1.4vw 0 1.4vw 0;
}

#activities-pics {
    display: flex;
    height: 29vw;
    margin-top: 20px;
}

#article1 {
    display: flex;
    width: 50%;
}

#article2 {
    display: flex;
    width: 50%;
    margin-left: 1.6vw;
}

.big-pics {
    display: flex;
    flex: 25%;
    margin-right: 1.6vw;
}

.activities-card {
    display: flex;
}

.small-pics {
    display: flex;
    flex: 25%;
    flex-direction: column;
    justify-content: space-between;
}

#aPomegues {
    height: 50%;
}

#activities figure {
    width: 100%;
}

#aFrioul {
    height: 50%;
    align-items: flex-end;
}

.big-pics img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

#pomegues img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}

#frioul {
    height: 80%;
}

#frioul img {
    height: 62%;
    width: 100%;
    object-fit: cover;
}

.block2 img {
    width: 100%;
    height: 66.5%;
    object-fit: cover;
}

#garde,
#lonchamp {
    height: 45%;
}

#garde img {
    object-position: top;
}

#activities figcaption {
    margin-left: 0.7vw;
}

#activities img {
    border-radius: 20px 20px 0px 0px;
}

#activities-pics figure {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px #d1d1d1;
}


/*********************** footer ******************/

footer {
    display: flex;
    margin-top: 20px;
    background-color: #f2f2f2;
    padding-left: 3.2vw;
}

#propos {
    flex: 1 30%;
}

#hebergement {
    flex: 1 30%;
}

#assistance {
    flex: 1 30%;
}

footer ul {
    padding: 20px 0;
}

footer li {
    padding: 5px 0 5px 0;
}

footer a:hover {
    color: #0065fc;
}

h4 {
    margin-top: 30px;
    margin-bottom: 0;
}


/************************** Media queries ********************/

@media screen and (min-width: 2100px) {
    .popular-card figcaption {
        display: block;
        padding: 0.3vw;
    }
}

@media screen and (max-width: 1400px) {
    #plus {
        padding-top: 2vh;
    }
    #article1,
    #article2 {
        flex-direction: column;
        width: 49%;
    }
    .big-pics .encartActivite,
    .block1 {
        width: 100%;
    }
    .big-pics {
        height: 49%;
        margin: 0 0 2.4vw 0;
    }
    .small-pics {
        flex-direction: row;
        height: 49%;
    }
    #aPomegues,
    #aFrioul,
    #garde,
    #lonchamp {
        height: 100%;
        width: 48%;
    }
    #frioul {
        height: 100%;
    }
    #activities img {
        height: 70%;
    }
    footer {
        margin-top: 6vw;
    }
}

@media screen and (max-width: 1024px) {
    #hotels {
        flex-direction: column-reverse;
    }
    .fondPopulaire {
        margin-bottom: 2.4vh;
    }
    #marseille {
        margin: 2vw 0 0 0;
    }
    #activities-pics {
        flex-direction: column;
        height: 100vw;
    }
    #article1,
    #article2 {
        height: 50%;
        width: 100%;
    }
    #article2 {
        margin: 3.5vw 0 0 0;
    }
}

@media screen and (max-width: 800px) {
    #body {
        width: 100%;
    }
    #logo,
    #h1,
    form,
    #filtres,
    .info {
        padding-left: 3vw;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    nav a {
        padding: 2rem;
        border-top: 3px solid transparent;
    }
    nav a:hover {
        border-top-color: var(--blue);
    }
    .subnav {
        display: flex;
    }
    .subnav a:hover {
        color: var(--blue);
    }
    @media (max-width: 800px) {
        .subnav {
            order: 1;
            flex-basis: 100%;
        }
        .subnav a {
            flex-basis: 50%;
            text-align: center;
            border-bottom: 3px solid #f2f2f2;
        }
        .subnav a:hover {
            border-bottom-color: #0065fc;
            border-top-color: transparent;
        }
    }
    nav li:hover {
        border-bottom: 2px solid #0065fc;
    }
    #h1 {
        padding: 2vw 3vw 2vw 3vw;
    }
    #rechercher {
        display: none;
    }
    #loupe {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        background-color: #0065fc;
        cursor: pointer;
        color: white;
        border-radius: 15px;
        border: 1px solid #f2f2f2;
        width: 40px;
    }
    .filters-box {
        margin-left: 0px;
        margin-right: 4vw;
    }
    /***************** populaire ************************/
    #popular-pics {
        flex-direction: column;
    }
    #popular {
        padding: 4vw;
        border-radius: 0;
    }
    #popular figure {
        margin: 3.5vw 0 0.5vw 0;
    }
    /***************** marseille ************************/
    #marseille {
        background: none;
        padding: 4vw;
    }
    /****************** activite ************************/
    #activite {
        padding: 4vw;
    }
    #garde {
        margin: 0;
    }
    #activite figcaption {
        margin-top: 1vh;
        margin-left: 4vw;
    }
    /************************* footer ************************/
    footer {
        flex-direction: column;
        padding-left: 5.7vh;
    }
}

@media screen and (max-width: 640px) {
    /**************************** marseille ********************************/
    #marseille-pics {
        flex-direction: column;
    }
    .marseille-card {
        margin-right: 0;
    }
    /***************************** activities *******************************/
    #activities-pics {
        flex-direction: column;
        height: auto;
    }
    .small-pics {
        flex-direction: column;
    }
    .small-pics,
    .big-pics,
    #garde,
    #Pomegues {
        margin: 0;
    }
    .block1 {
        display: flex;
        flex-direction: column;
    }
    #article1 {
        flex-direction: column;
    }
    #article2 {
        flex-direction: column;
        margin: 0;
    }
    #activities img {
        height: 140px;
    }
    #activities a {
        width: 100%;
        margin-bottom: 2.4vh;
    }
    #activities figure {
        height: 180px;
    }
}